/*Content*/
#topnews {
    border: 1px solid #c3d3e0;
    background: #ecf2f7;
    padding: 4px;
    margin-bottom: 10px;
	}

#topnews div.indent {
    background: #f9fbfd;
}

#topnews ul.lastest-news {
}

#topnews ul.lastest-news li {
    text-indent: 10px;
    padding: 0 4px;
    text-align: justify;
}

#topnews ul.lastest-news a {
    font-weight: normal;
    background: transparent url(../images/squared-blue.png) no-repeat 5px 12px;
    color: #383838;
    display: block;
    border-bottom: 1px dotted #bbdbf6;
    padding: 6px 0;
}

#topnews ul.lastest-news a:hover {
    background: #fff url(../images/squared-blue.png) no-repeat 5px 12px;
}

div.two_column {
    width: 49%;
    margin-right: 10px;
}

div.news_column {
    margin-bottom: 10px;
}
.list_post_in_cat {
    border-bottom: 2px solid #e8e8e8;
}
div.news_column div.fullwidth {
}

div.news_column div.fixedwidth {
    width: 68%;
    float: left;
}

div.news_column div.header-news a {
    color: #3b3b3b;
    font-weight: normal;
}

div.news_column div.header-news a:hover {
    color:#FF3300;
}

div.news_column div.header-news {
    background:url(../images/temp_35.jpg) repeat-x;
    padding: 2px 0 0 2px;
    border-bottom: 0px solid #ccc;
    display: block;
    clear: both;
}

div.news_column div.header-news a {
    display: inline-block;
    /*float: left;*/
    line-height: 20px;
    height: 26px;
    padding: 0 0 0 10px;
	color:#0000CC;
    clear: both;
}

div.news_column div.header-news a.current {
    background: url(../images/news_arrow_down.png) no-repeat center 100%;
    padding: 0;
    font-weight: 700;
}

div.news_column div.header-news a.current span {
    background: url(../images/news_cat_r.png) no-repeat top right;
    padding: 0 6px 0 0;
    height: 22px;
	margin-left:2px;
    display: inline-block;
    /*float: left;*/
    cursor: pointer;
}

div.news_column div.header-news a.current span span {
    background: url(../images/news_cat_l.png) no-repeat;
    padding: 0 0 0 6px;
    color: #fff;
	}

div.span-25 div.items {
    border-bottom: 1px dotted #ccc;
}

div.news_column div.items {
    padding: 4px;
}

div.news_column div.border_r {
    border-right: 1px dotted #ccc;
}

div.news_column div.border_l {
    border-left: 1px dotted #ccc;
}

div.news_column div.border_b {
    border-bottom: 1px dotted #ccc;
}

div.news_column div.items h3 a {
    font-weight: 700;
    color:#0000CC
}

div.news_column div.items h3 a:hover,
div.news_column div.items .read_more:hover {
    color:#FF0000;
	margin-top:5px;
}

div.news_column ul.related li a:hover {
    color:#FF0000;
}

div.news_column div.items img {
    float: left;
    border: 1px solid #ccc;
    padding: 2px;
    margin-right: 8px;
}

div.news_column div.items p {
    text-align: justify;
}

div.news_column ul.related {
    padding: 4px;
    text-align: justify;
}

div.news_column ul.fixedwidth {
    width: 28%;
}

div.span-25 ul.related {
    width: 100%;
}

div.news_column ul.related li {
    padding: 3px 4px 0;
}

div.span-25 ul.related li {
    padding: 0 10px;
}

div.news_column ul.related a {
    display: inline-block;
    padding-left: 10px;
	margin-left:5px;
    color: #3b3b3b;
	background:url(../images/Bullet_1.png) no-repeat 0 6px;
}

div.news_column ul.related a:hover {
    color: #333;
}

p.related_post {
    border-bottom: 2px solid #e8e8e8;
}

/*Detail*/
#hometext {
    font-weight: 700;
}

div.news_column #hometext, div.news_column div.bodytext, #news_detail h1 {
    text-align: justify;
}

#news_detail h1 {
    padding: 4px 0;
    font-size: 14px;
    color:#FF0000;
}

#news_detail .time {
    float: left;
    display: inline;

	}

#news_detail span.time {
    font-size: 11px;
    color: #999;
}

#news_detail .control {
    float: right;
    display: inline;
	}

#news_detail .control ul li {
    float: left;
    padding-left: 5px;
}

#news_detail .sendmail {
    background: url(../images/email.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
}

#news_detail .print {
    background: url(../images/print.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
}

#news_detail .savefile {
    background: url(../images/save_file.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
}

div.news_column div.keywords {
    padding: 8px 0;
}

div.news_column p.copyright {
    margin: 5px auto;
    background-color: #66ccff;
    padding: 10px;
    color: #fff;
}

/*Comment*/
#idcomment img {
    vertical-align: middle;
}

#idcomment .control {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

#idcomment ul.control {
    margin: 0;
    padding: 0;
}

#idcomment ul.control li {
    display: inline;
}

#idcomment .add {
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}

#formcomment {
    margin: 5px auto;
    background-color: #F4F4F4;
    padding: 10px;
}

#formcomment .name {
    margin-top: 10px;
}

#formcomment .name input {
    background: #fff url(../images/news/user.png) no-repeat 4px 2px;
}

#formcomment .email input {
    background: #fff url(../images/news/email.png) no-repeat 4px 4px;
}

#formcomment input, #formcomment textarea {
    border: 1px solid #ccc;
}

#formcomment textarea {
    width: 99%;
}

#formcomment input:hover, #formcomment textarea:hover {
    border: 1px solid #999;
}

#formcomment .name input, #formcomment .email input {
    width: 94%;
    padding: 2px 0 2px 26px;
}

#formcomment .name, #formcomment .email, #formcomment .content, #formcomment .captcha {
    margin-bottom: 4px;
    padding: 0;
}

#formcomment label {
    display: block;
}

#formcomment .captcha input {
    width: 200px;
}

#showcomment {
}

#showcomment .commentdetail {
    padding: 4px;
    margin-bottom: 4px;
}

#showcomment .commentdetail:hover {
    background: #F4F4F4;
}

#showcomment .name {
    font-weight: 700;
    background: url(../news/user.png) 0 2px no-repeat;
    padding: 0 0 0 20px;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #ccc;
}

#showcomment span {
    font-weight: normal;
    margin: 0 4px;
}

#showcomment .email {
    background: url(../images/news/email.png) 0 2px no-repeat;
    padding: 0 0 0 20px;
    float: none;
}

#showcomment .time {
    background: url(../images/news/calendar.png) no-repeat;
    padding: 0 0 0 20px;
    float: none;
}

#showcomment .bg {
    background: #F9FDFF;
}

#showcomment .page {
    float: none;
}

/* search css */
.sea-frame {
    padding: 10px;
    border: #CCC 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #F0F0F0;
}

.sea-title {
    font-weight: bold;
    font-size: 12px;
    color: #069;
    margin: auto;
    text-align: center;
}

.sea-form {
    padding: 10px;
    margin: auto;
}

.sea-form table {
    margin: auto;
}

.intxt {
    width: 230px;
    font-size: 12px;
    height: 14px;
}

.cltxt {
    font-size: 12px;
}

.sl2 {
    width: 206px;
    font-size: 12px;
}

.bt-search {
    width: 208px;
}

.result-frame {
    padding: 10px;
    margin: auto;
    border: #CCC 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

.result-title {
    color: #069;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.cl-result {
    border-bottom: #CCC 1px solid;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.cl-info {
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}

.linktitle {
    margin-bottom: 5px;
    margin-top: 5px;
}

.linktitle {
    margin-bottom: 5px;
    margin-top: 5px;
}

.linktitle a {
    color: #069;
    font-weight: bold;
    text-decoration: none
}

.linktitle a:hover {
    color: #F60;
    text-decoration: underline;
}

.result-content {
    font-size: 11px;
    font-family: Tahoma
}

.keyword {
    background: #FF3
}

.cl-viewall {
    font-weight: bold;
    text-align: right;
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.cl-viewall a {
    color: #069;
    text-decoration: none
}

.cl-viewall a:hover {
    color: #F60;
    text-decoration: none
}

.cl-viewpages {
    text-align: center;
    padding-top: 10px;
    color: #09C;
}

.cl-viewpages span {
    padding: 3px;
    color: #000;
}

.cl-viewpages span a {
    color: #069;
    text-decoration: none
}

.cl-viewpages span a:hover {
    color: #F00;
}

.cl-viewpages span strong {
    color: #000;
    text-decoration: none
}

.in-txt1 {
    width: 80px
}

.result-author {
    color: #990;
    text-align: right;
    padding-top: 5px;
    font-size: 11px
}

.sl-choose {
    width: 200px;
    font-size: 11px
}

.result-source {
    font-size: 11px;
    color: #CCC
}

.result-source span {
    font-size: 11px;
    color: #09F
}

.bt-remove {
    border: #CCC 1px solid;
    background: #CCC
}

/*search css*/
#no_permission {
    text-align: center;
    font-size: 120%;
    font-weight: 700;
}

#no_permission p {
    margin: 20px 0;
}

/*LIST NEWS*/
ul.listnews {
    padding: 0 2px 10px;
}

ul.listnews li {
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
}

ul.listnews li.bg {
    background: #fff;
}

/* Hot news block */
img.s-border {
    border: 1px solid #d8d8d8;
    background: #fff;
    padding: 4px;
    margin-right: 5px;
}

.aright {
    text-align: right;
}

#hot-news {
    padding-bottom: 19px;
    background: #fff url(../images/hot-news-shadow.png) 50% bottom no-repeat;
}

#hot-news .box-border {
    background: url(../images/hot-news-g.png) bottom repeat-x;
}

#hot-news h3 {
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.2;
    font-size: 1.5em;
}

#hot-news p {
    margin-bottom: 0;
}

#hot-news ul.other-news {
    border-top: 1px solid #dadada;
    margin: 0;
    list-style-type: none;
    background: url(../images/dot.png) left 2px repeat-x;
}

#hot-news ul.other-news li {
    float: left;
    width: 33%;
}

#hot-news ul.other-news h5 {
    line-height: 1.2;
    margin-bottom: 0.5em;
}

.box-border {
    display: block;
    border: 1px solid #dadada;
}

.content-box {
    padding: 10px;
}

a.more {
    color: #b93d00;
    display: inline-block;
    padding-right: 11px;
}

.table-list-news {
    text-align: left;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table-list-news th {
    background: url(../images/cat-header-news-bg.png) 0 0 repeat-x;
    border-bottom: 1px solid #e5e5e5;
}

.table-list-news tbody tr:nth-child(even) td {background:#e5ecf9;}

.table-list-news td {
    padding: 4px 10px 4px 5px;
}

.news_grid {
    border: 1px solid #e5e5e5;
}

.news_grid h3.cat {
    margin: 0;
    padding: 4px 10px;
    background: url(../images/cat-header-news-bg.png) 0 0 repeat-x;
    border-bottom: 1px solid #e5e5e5;
    font-size: 13px
}

.news_grid .item {
    text-align: center;
}

.news_grid .item_content {
    padding: 10px;
    height: 170px;
    margin: 2px;
    position: relative;
    background: #fcfcfc;
}

.news_grid .admintab {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}

.news_grid h2 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: left
}

/* PhuongNLT */
/* ==== right bar tieu diem ==== */
ul.tieu-diem li:nth-child(odd) {
    background-color: white;
}
ul.tieu-diem li:nth-child(odd) a {
    color: navy;
}
ul.tieu-diem li:nth-child(even) a {
    color: #ff0000;
}
/* ==== end right bar tieu diem ==== */

/* ==== top news ==== */
.p_list_topnews{
    position:relative;
    border:1px solid #cccccc;
    margin-top:5px;
    margin-right:2px;
}

.p_list_topnews .p_list_topnews-nav{
    margin:0;
    width:100%
}

.p_list_topnews .p_list_topnews-nav li{
    border-bottom:0 !important;
    display:inline;
    height:23px;
    padding:0;
    position:relative;
    white-space:nowrap
}
.p_list_topnews .p_list_topnews-nav li a{
    color:#0000CC;
    float:left;
    font-weight:bold;
    margin-top:6px;
    padding:0 4px
}

.p_list_topnews .p_list_topnews-nav li.p_list_topnews-selected{
    margin-bottom:0
}

.p_list_topnews .p_list_topnews-nav li.p_list_topnews-selected a{
    background:url(../images/titile_tin_khac.jpg) no-repeat bottom center;
    color:#fff;
    margin-top:5px;
    display:block;
    float:left;
    height:25px;
    width:180px;
    margin-right:0px;
    margin-left:-4px;
    margin-top:-2px;
}

.p_list_topnews .p_list_topnews-nav li.p_list_topnews-selected a span{
    /*background:#fff url(../images/tabs_l.png) no-repeat top left;*/
    float:left;
    font-size:13px;
    margin-left:20px;
    margin-top:1px;
    height:20px;
    padding:0 0 0 4px
}

.p_list_topnews .p_list_topnews-nav li.p_list_topnews-selected a span span{
    /*background:url(../images/tabs_r.png) no-repeat top right;*/
    padding:0 4px 0 0
}

.p_list_topnews .p_list_topnews-nav li.p_list_topnews-selected a,
.p_list_topnews .p_list_topnews-nav li.ui-state-disabled a,
.p_list_topnews .p_list_topnews-nav li.ui-state-processing a {
    cursor: text;
}

.p_list_topnews .p_list_topnews-nav li a,
.p_list_topnews.p_list_topnews-collapsible .p_list_topnews-nav li.p_list_topnews-selected a {
    cursor: pointer;
}

.p_list_topnews .p_list_topnews-panel {
    border-width: 0;
    display: block;
}

.p_list_topnews .p_list_topnews-hide {
    display: none !important;
}
/* ==== end top news ==== */
.post_next_page li a:hover {
    color: #FF0000;
}
/* ===== FAQ ===== */
#faq .block_faq .title {
    background: url(../images/faq.gif) no-repeat left -96px;
    padding-left: 27px;
}

#faq .block_faq .title a {
    text-decoration: underline;
}

#faq .catlist {
    margin-bottom: 15px;
    margin-top: 5px;
    padding-left: 20px;
}

#faq .catlist li.description {
    color: #666;
    font: normal 12px arial,verdana,sans-serif;
    padding-bottom: 10px;
    padding-left: 27px;
}

#faq .catlist li.main {
    background: url(../images/faq.gif) no-repeat left -24px;
    font: bold 12px/24px arial,verdana,sans-serif;
    padding-left: 27px;
}

#faq .page_title {
    border-bottom: 1px solid #ccc;
    font: bold 12px/23px arial,verdana,sans-serif;
}

#faq .show_detail .detail_faq {
    padding-bottom: 15px;
}

#faq .show_detail .detail_faq .question {
    padding-bottom: 10px;
}

#faq .show_detail .detail_faq .title {
    background: url(../images/faq.gif) no-repeat left -48px;
    border-bottom: 1px solid #92c2fe;
    display: block;
    font: bold 12px/24px arial,verdana,sans-serif;
    margin-bottom: 5px;
    padding-left: 27px;
}

#faq .show_detail .detail_faq .title .gotop {
    float: right;
    padding-top: 4px;
}

#faq .show_row {
    padding-bottom: 30px;
    padding-left: 20px;
}

#faq .welcome {
    font: bold 13px arial,verdana,sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;
}

#faq .block_faq .title a:hover {
    text-decoration: none;
}

#faq .catlist li.main:hover {
    background: url(../images/faq.gif) no-repeat left 0;
    font: bold 12px/24px arial,verdana,sans-serif;
    padding-left: 27px;
}
.form_error {
    border: 1px solid #ff0000 !important;
}
#fquestion p, .contact label {
    font-size: 14px;
    font-weight: bold;
}
#fquestion input[type=text], #fquestion select, #fquestion textarea,
.contact input[type=text], .contact select, .contact textarea {
    font-size: 14px;
    padding: 5px 4px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #c5c5c5;
}
#fquestion input[type=text], #fquestion select,
.contact input[type=text], .contact select{
    width: 300px;
}
#fquestion input[type=submit], #fquestion input[type=reset],
.contact input[type=submit], .contact input[type=reset]{
    margin: .5em .4em .5em 0;
    cursor: pointer;
    background: #f6f6f6;
    border-radius: 3px;
    border: 1px solid #c5c5c5;
    padding: 8px;
}
/* ===== end FAQ ===== */
/* ===== Contact ===== */
.contact {
    height: auto;
    margin: 10px auto;
}

.contact .title {
    margin-bottom: 10px;
}

.contact .content {

}

.contact .content div {
    margin: 4px 0;
}

.contact .txttextArea {
    width: 98%;
}

.contact .txtInput {
    width: 98%;
}

.contact .txtCaptcha {
    width: 152px;
}

.contact label {
    float: left;
    width: 150px;
}

.contact .hometext {
    margin-top: 10px;
}

.contact .row {
    width: auto;
    height: 22px;
}
.contact .validateTips {
    padding: 10px;
}

/* ===== end Contact ===== */
