#sw_cont{
    display: block;
}
#sw_cont .video_list_block {
    padding: 5px;
    margin: 5px;
}
#sw_cont .video_top_img {
    text-align: center; font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: rgb(243, 100, 0);
}
#sw_cont .video_top_img img {
    vertical-align: middle;
    border-width: 0px;
}
.video{
    padding: 5px; 
    margin: 0px auto;
}

.video-catalogy{
    color:#5b5b5b;
    font-size: 10px;
    font-weight: normal;
    text-align:right;
}
.video_main {
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px; 
    font-weight: bold; 
    color: rgb(243, 100, 0);
}
.detail_video {
    font-size: 14px;
}
.video_main img {
    vertical-align: middle;
    margin-right: 10px;
}
#sw_cont .video_item {
    display:inline;
    float: left;
    margin: 5px;
    text-align:center;
}
#sw_cont .video_item .item_child{
    width: 130px;
    height: 140px;
    border: 1px solid #cccccc;
    padding:10px;
    font-size: 9px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#sw_cont .video_item .item_child img {
    width: 100%;
}
#sw_cont .title_video {
    text-align: justify;
    /*font-size: 14px;*/
    font-weight: bold
}
#sw_cont .title_video a {
    color: #5b5b5b;
}
#sw_cont .title_video a:hover {
    color: #ff0000;
}
.views_video {
    float:right;
    text-align: justify;
    margin-top: 5px;
}
.video_list{
    border-style: dotted; 
    border-width: 0px 0px 1px; 
    border-color: rgb(128, 128, 128);
    white-space: nowrap;
    font-size: 10px; 
}

.video_list1 {
    border-style: dotted; 
    border-width: 0px 0px 1px; 
    border-color: rgb(128, 128, 128); 
    width: 20px;
}
.video_list2 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px; 
    border-style: dotted; 
    border-width: 0px 0px 1px; 
    border-color: rgb(128, 128, 128); 
    width: 90%;
}